<form #form="ngForm"
      fxLayoutAlign="center">
  <mat-form-field class="search-form">
    <input matInput
           name="search"
           ngModel
           placeholder="Search Tag"
           type="text">
  </mat-form-field>
  <button mat-raised-button
          class="button"
          [routerLink]=""
          [queryParams]="{tagged: form.value.search}"
          color="primary">Search
  </button>
</form>

<mat-card>
  <mat-card-content>
    <div class="row header">
      <div fxFlex="20%">Author</div>
      <div fxFlex="65%">Title</div>
      <div fxFlex="15%">Creation date</div>
    </div>
    <cdk-virtual-scroll-viewport class="viewport"
                                 (scrolledIndexChange)="onScroll($event)"
                                 itemSize="48">
      <div class="row"
           *cdkVirtualFor="let question of questionsList$"
           (click)="openModal(question)">
        <div fxFlex="20%">{{question.owner?.display_name | unescape}}</div>
        <div fxFlex="65%">{{question.title | unescape}}</div>
        <div fxFlex="15%">{{question.creation_date * 1000 | date: 'medium'}}</div>
      </div>
    </cdk-virtual-scroll-viewport>
  </mat-card-content>
</mat-card>
