.button {
  height: 40px;
  margin-top: 10px;
  margin-left: 10px;
}

.row {
  cursor: pointer;
  padding: 15px;
  margin-bottom: 1px;
  font-size: 15px;
  border-bottom: thin solid lightgrey;
}

.row:hover {
  background-color: lightgray;
}

.header {
  font-weight: bold;
}

cdk-virtual-scroll-viewport {
  height: 800px;
}
